@media only screen and (max-width: 768px) {
    .header {
      height: 100%;
      background-image: url(/images/banner.png);
      background-size: cover;
      background-color: #0891f8;
      padding-bottom: 1rem;
    }
  
    .nevigation {
      width: 100%;
    }
    .navbar .navbar__nav a {
      display: none;
    }
    .banner__content {
      grid-template-columns: 1fr;
      margin-top: 0rem;
    }
    .banner h1 {
      font-size: 1.8rem;
    }
    .banner p {
      margin-top: 2rem;
      width: 100%;
    }
    .better {
      background-image: url(/);
    }
    .better__content {
      width: 100%;
    }
    .project__content {
      width: 100%;
    }
    .testimonial {
      width: 95%;
      margin: 0 auto;
      padding: 4rem 0;
      background-color: #0891f8;
    }
    .test__content {
      grid-template-columns: 100%;
      width: 100%;
    }
    .test__content h2,
    p {
      text-align: left;
    }
    .footer {
      padding: 2rem 0;
    }
    .footer .title p {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      line-height: 30px;
    }
    .footer__content {
      width: 100%;
    }
    .footer__content button {
      padding: 10px 15px;
    }
    .footer .img img {
      display: none;
    }
  }
  